{% extends "vss/base.html" %}

{% block title %}Video Security Systems{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<form action="{% url 'vss:add_camera_action' %}" method="post">
    {% csrf_token %}
    <div class='w-25 mx-auto' align="center">
        <div class="mb-3">
            <label for="id" class="form-label">Camera id</label>
            <input type="text" class="form-control" id="id" name="cam_id" value="{{ camera.id }}">
        </div>
        <div class="mb-3">
            <label for="cam_name" class="form-label">Camera name</label>
            <input type="text" class="form-control" id="cam_name" name="cam_name" value="{{ camera }}">
        </div>
        <div class="mb-3">
            <label for="ip" class="form-label">IP address</label>
            <input type="text" class="form-control" id="ip" name="ip" value="{{ camera.ip }}" maxlength="15">
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary mb-3">Save changes</button>
        </div>
        <div>
               <a href="{% url 'vss:index' %}" class="btn btn-sm btn-outline-secondary">Back</a>
        </div>
    </div>
</form>
{% endblock %}