{% extends "vss/base.html" %}

{% block title %}Video Security Systems{% endblock %}
{% block head %}
<style>
    table tbody tr:hover {
        background-color: #B0E2FF;
    }
</style>
{% endblock %}
{% block content %}
<div class="container text-center">
<div class="row justify-content-md-center">
    <div class="col-4">
<div class="ms-3 mt-3">
    <div>
        <p class="text-center fs-3">All cameras</p>
    </div>
    <form>
        <a href="{% url 'vss:add_camera' %}" class="btn btn-primary mb-3">Add camera</a>
    </form>
</div>
<div name="cam_table">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>IP Address</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for cam in cameras %}
            <tr style="transform: rotate(0);">
            <th scope="row"><a href="{% url 'vss:details' cam.id %}" class="stretched-link">{{ forloop.counter }}</a></th>
            <td>{{ cam.cam_name }}</td>
            <td class="ip_address">{{ cam.ip }}</td>

                <!--
            {% if cam.online %}
            <td id="status_cam{{ cam.id }}" class="status"></td>
            {% else %}
            <td></td>
            {% endif %}
            -->
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
    <div class="col-8">col-8</div>
</div>
</div>
{% endblock %}